h1{ 
    justify-content: center;
    color:#ffff;
    background-color: #0000ff;
    block-size: 35px;
    width:200px;
    padding-left: 10px;}
h1{
    justify-content: center;
    margin-right: 50px;}

h2{ padding-right: 5%;
    padding-left: 15%; 
    background-color: #0034ef;
    }
.SPage{
    color:#0034ef;
    background-color: #000000;
    }


nav a{
    background-size: 10px;
    background-color: #0034ef;
    color: #000000}

nav a:hover{
    background-color: #ff69b4;}

nav{
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;}

body{
    background-color: #ffff;
    opacity: 1.0;}

.Link{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
.Flex1{
    display: flex;
    flex: 100%;
    justify-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 0%;
    height: 0%;
    background-color: #000;
    }

.Flex2{
    display: flex;
    
    }

.FirP{
    font-family: 'Castoro Titling', cursive;
    font-size: small;
    color: #000;
    display: block;
    }

.SecP{
    text-align: center;
    padding-left: 5%;
    padding-right: 0%; 
    display: block; 
    }

@media screan and (max-width: 800px ){
}

.Flex1, .Flex3{ max-height: 100%;
}
.Rpic{
    width: 20%;
    height: 15%;
    float:right;
    border: solid #ffff 10px;
    }
.Mpic{
    width:20%;
    height:15%;
    
    float: left;
    justify-content: space-evenly;
    border:solid  #ffff;
    

}

.SecondPage{
    background-color: #000000;
}
.P{
    color:#0000ff;
    display: block;
}


/* 
.flexbox1, img{
    display: flex;
    flex: 100%;
    justify-content: flex-start;
    justify-content: space-evenly;
    
}
.flexbox2{
    display:flex;
    justify-content: space-around;
    flex-basis: 100%;

}
.flexbox3, .a{ display: flex;
    flex-direction: column;
    background-color: #0e0f0e;
    border-radius: 10px;
    block-size: 350px;
    color:#ffffff;
    font-size: 15.5px;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 5%;

     margin-block: 30px;
    padding-left:10px;
    padding-right:10px;
   
    text-align: center;
}